* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
}

.Container {
  text-align: center;
  margin: 0 10vw;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  padding-bottom: 5vh;
}

.light {
  background-color: #fff;
}

.pastel {
  background-color: #5F7161;
  color: white;
  border: white 1px solid;
}

.checked {
  text-decoration: red line-through;
  background-color: #F9F3EE;
  color: gray;
}

.check {
  appearance: none;
  background-color: #fff;
  margin: auto 1em;
  font: inherit;
  color: currentColor;
  width: 1.25em;
  height: 1.25em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.check::before {
  content: "";
  width: 0.75em;
  height: 0.75em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

.check:checked::before {
  transform: scale(1);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);

  background-color: red;
}

.pastel.checked {
  text-decoration: red line-through;
  color: gray;
  background-color: black;
}

ul {
  list-style-type: none;
}

ul li {
  width: 60vw;
  padding: 0.7em 0;
  margin-top: 3vh;
  border: 1px solid rgb(229, 157, 157);
  font-family: 'Work Sans', sans-serif;
}


.todoText {
  width: 50vw;
  padding-right: 4vw;
}

.footer {
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgb(222, 184, 135, 0.79);
  height: 5vh;
}

.footer-text {
  font-family: 'Work Sans', sans-serif;

  margin: auto;
}

.footer-text a:hover {
  color: gainsboro;
}